@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Maehongson";
    /*noinspection CssUnknownTarget*/
    src: url(/PKMaehongsonMedium.ttf) format("truetype");
}

@font-face {
    font-family: "poppins";
    /*noinspection CssUnknownTarget*/
    src: url(/Poppins-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "poppins_semibold";
    /*noinspection CssUnknownTarget*/
    src: url(/Poppins-SemiBold.ttf.ttf) format("truetype");
}

@font-face {
    font-family: "poppins_bold";
    /*noinspection CssUnknownTarget*/
    src: url(/Poppins-Bold.ttf.ttf) format("truetype");
}

@layer base {
    .ql-editor h1 {
        @apply text-4xl;
        @apply font-bold;
    }

    .ql-editor h2 {
        @apply text-3xl;
        @apply font-bold;
    }

    .ql-editor h3 {
        @apply text-2xl;
        @apply font-bold;
    }

    .ql-editor h4 {
        @apply text-xl;
        @apply font-semibold;
    }

    .ql-editor h5 {
        @apply text-lg;
        @apply font-semibold;
    }

    .ql-editor h6 {
        @apply text-sm;
        @apply font-semibold;
    }
}
